/*************************Boş sayfa ***********************************************************************************/
body {
    background-color:#C0EDA6;
}

nav {
    text-align: center;
}

h2 {
    text-align: center;
    color: cornflowerblue;
    font-size: 25px;
}